/**
 * Author: Alexander Leutsky
 * Base styles
 */


.scrollar, .scrollar-contentwrap, .scrollar-content {
    position: relative;
}

.scrollar-viewport, .scrollar-systemscrolls {
    bottom: 0px;
    height: auto;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
}

.scrollar-viewport {
    clip: rect(0, auto, auto, 0);
    clip: rect(0 100% 100% 0);
    overflow: hidden;
}

.scrollar-systemscrolls {
    /*
    margin: 0px -22px -22px 0px;
    padding: 0px 22px 22px 0px;
    */
    bottom: -22px;
    overflow-x: scroll;
    overflow-y: scroll;
    right: -22px;
}

.scrollar-contentwrap {
    box-sizing: border-box;
    min-width: 100%;
    padding: 0px 22px 22px 0px;
    position: absolute;
}

.scrollar-content { }

.scrollar-scroll,
.scrollar-track,
.scrollar-btn,
.scrollar-thumb,
.scrollar-corner {
    position: absolute;
}

.scrollar-hscroll {
    bottom: 0px;
    height: 0px;
    left: 0px;
    right: 0px;
}

.scrollar-vscroll {
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 0px;
}

.scrollar-btnup { left: 0px; top: 0px; }
.scrollar-btndown { bottom: 0px; left: 0px; }
.scrollar-btnleft { left: 0px; top: 0px; }
.scrollar-btnright { right: 0px; top: 0px; }

.scrollar-vthumb { max-height: 100%; height: 30px; left: 0px; right: 0px; }
.scrollar-hthumb { max-width: 100%; width: 30px; bottom: 0px; top: 0px; }

.scrollar-corner {
    bottom: 0px;
    right: 0px;
}

/* No horizontal scroll */
.scrollar-nohscroll .scrollar-viewport {
    bottom: 0px;
}
.scrollar-nohscroll .scrollar-contentwrap {
    padding-bottom: 0px;
}
.scrollar-nohscroll .scrollar-content { right: 0px; }
.scrollar-nohscroll .scrollar-systemscrolls {
    bottom: 0px;
    overflow-x: hidden;
}
.scrollar-nohscroll .scrollar-hscroll { display: none; }
.scrollar-nohscroll .scrollar-vscroll { bottom: 0px; }
.scrollar-nohscroll .scrollar-corner { display: none; }

/* No vertical scroll */
.scrollar-novscroll .scrollar-viewport {
    right: 0px;
}
.scrollar-novscroll .scrollar-contentwrap {
    padding-right: 0px;
}
.scrollar-novscroll .scrollar-content { bottom: 0px; }
.scrollar-novscroll .scrollar-systemscrolls {
    overflow-y: hidden;
    right: 0px;
}
.scrollar-novscroll .scrollar-vscroll { display: none; }
.scrollar-novscroll .scrollar-hscroll { right: 0px; }
.scrollar-novscroll .scrollar-corner { display: none; }
